<h1>Editing sprint</h1>

<%= render 'form' %>


<%= button_to "Show", @sprint, :method => "get", :class => "btn btn-default" %>
<%= button_to "Back", sprints_path, :method => "get", :class => "btn btn-default" %>